.footer {
    display: grid;
    background-color: #8ee4af;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

.contact {
    display: flex;
    justify-content: space-around;
}