.header {
    height: 100vh;
    background: url(../images/pernambuco.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
}

.header>h1 {
    font-size: 2.3em;
    text-decoration: underline;
    color: white;
    align-self: center;
    padding-top: 1em;
}

@media (min-width: 600px) and (max-width: 900px) {
    .header>h1 {
        font-size: 3.5em;
    }
}

@media (min-width: 901px) {
    .header>h1 {
        font-size: 4em;
    }
}